@inject IJSRuntime JsRuntime
@inherits StyleAwareComponentBase

<div class="@ClassValue" @onclick="OnClick">
</div>

@code { 
    public void OnClick()
    {
        AppWindow.Instance.SetupMenu();
    }
}
