@using MaximizeWindowAction = Spect.Net.Shell.State.Actions.MaximizeWindowAction

<div class="sidebar" @onclick="OnClick">
</div>

@code {

    private async Task OnClick()
    {
        await Messenger.SendAppAction(new MaximizeWindowAction());
    }

}
