@inherits Spect.Net.Shell.State.StateAwareComponentBase
@inject IThemingService<ThemeProps> ThemingService

    <div class="menu-bar" tabindex="0">
        @if (AppState?.MenuState?.AppMenu != null)
        {
            var menu = AppState.MenuState.AppMenu;
            foreach (var menuItem in menu.Items)
            {
                <MenuButton Item="@menuItem" Highlight="true" TitleColor="@_titleColor" />
            }
            <MenuPane Items="@menu.Items[2].Items" Highlight="true"/>
        }
    </div>

@code {
    [Parameter]
    public string TitleColor { get; set; }

    private string _titleColor;

    protected override void OnStateChanged(AppState prevState, AppState newState)
    {
        CalculateColors(newState.HasFocus);
        InvokeAsync(StateHasChanged);
    }

    private void CalculateColors(bool hasFocus)
    {
        _titleColor = ThemingService.GetProperty(s =>
            hasFocus ? s.TitleBarActiveColor : s.TitleBarInactiveColor);
    }
}
