.menu-button {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 2px 8px;
    border: 1px solid transparent;
    
    &.pointed {
        background-color: var(--menu-active-background-color);
    }

    & .show-access-key {
        text-decoration: underline;
    }
}
