* {
  box-sizing: border-box; }

html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0; }

.load-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

.load-logo {
  animation: rotation 4s infinite linear; }

.load-text {
  display: flex;
  justify-content: center;
  margin-bottom: 16px; }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

.app-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  background-color: var(--app-background-color);
  user-select: none; }
  .app-container.vertical-resize {
    cursor: ns-resize; }
  .app-container.horizontal-resize {
    cursor: ew-resize; }

.svg-icon {
  display: flex; }

.title-bar {
  display: flex;
  flex-shrink: 0;
  height: 30px;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: start;
  font-size: 0.9em;
  background-color: var(--menu-bar-background-color);
  -webkit-app-region: drag; }
  .title-bar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0px 4px; }
  .title-bar .title-buttons {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    -webkit-app-region: no-drag; }
  .title-bar .window-control {
    display: flex;
    width: 45px;
    align-items: center;
    justify-content: center; }
    .title-bar .window-control:hover {
      background-color: var(--menu-active-background-color); }
      .title-bar .window-control:hover.close {
        background-color: #d71526; }

.main-panel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  width: 100%; }

.activity-bar {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  width: 48px;
  background-color: var(--activity-bar-background-color); }

.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  width: 192px;
  background-color: var(--sidebar-background-color); }

.main-canvas {
  display: block;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: 10; }

.status-bar {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  color: white;
  align-content: start;
  justify-items: start;
  padding: 8px 12px;
  background-color: var(--status-bar-background-color); }
  .status-bar h3 {
    flex-shrink: 0;
    margin: -4px 0 0 0;
    font-size: 0.8em;
    color: var(--status-bar-color); }

.app-caption {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  font-size: 0.8em; }

.menu-bar {
  display: flex;
  flex-grow: 0;
  height: 100%;
  -webkit-app-region: no-drag; }
  .menu-bar:focus {
    outline: none; }

.access-key.highlight {
  text-decoration: underline; }

.menu-button {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 2px 8px;
  border: 1px solid transparent; }
  .menu-button.pointed {
    background-color: var(--menu-active-background-color); }
  .menu-button .show-access-key {
    text-decoration: underline; }

.menu-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  min-width: 0;
  padding: 2px 24px 2px 6px;
  color: var(--menu-text-color); }
  .menu-item.selected {
    background: var(--menu-selected-background-color); }
  .menu-item.disabled {
    opacity: 0.3; }
  .menu-item.submenu {
    padding-right: 8px; }

.icon {
  margin-right: 4px; }

.icon-placeholder {
  width: 18px; }

.separator {
  border: none;
  height: 1px;
  border-bottom: 1px solid #ffffff;
  margin: 4px 0px;
  opacity: 0.3; }

.accelerator {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: flex-end;
  margin-left: 12px; }

.submenu-icon {
  margin-left: 4px;
  margin-top: 2px; }

.menu-pane {
  position: absolute;
  left: 100px;
  top: 50px;
  background-color: var(--menu-pane-background-color);
  box-shadow: var(--menu-pane-shadow);
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  z-index: 100; }
