@using Spect.Net.Shell.Client.State
@using Spect.Net.Shell.Shared.State

@inherits StateAwareComponentBase
@inject IThemingService<ThemeProps> ThemingService

<div class="menu-bar" tabindex="0">
    @foreach (var menuItem in AppState.Menu.Items)
    {
        <MenuButton Item="@menuItem" Highlight="true" TitleColor="@_titleColor" />
    }
</div>

@code {
    [Parameter]
    public string TitleColor { get; set; }

    private string _titleColor;

    protected override void OnStateChanged(AppState prevState, AppState newState)
    {
        CalculateColors(newState.HasFocus);
        StateHasChanged();
    }

    private void CalculateColors(bool hasFocus)
    {
        _titleColor = ThemingService.GetProperty(s =>
            hasFocus ? s.TitleBarActiveColor : s.TitleBarInactiveColor);
    }
}
