<div class="title-bar">
    <div class="logo">
        <img src="assets/images/spectnet-logo.png" />
    </div>
    <MenuBar TitleColor="white"/>
    <AppCaption TitleColor="white"/>
    <div class="title-buttons">
        <div class="window-control">
            <SvgIcon IconName="minimize" Width="10" Height="10" Fill="white" />
        </div>
        <div class="window-control">
            <SvgIcon IconName="restore" Width="10" Height="10" Fill="white" />
        </div>
        <div class="window-control">
            <SvgIcon IconName="maximize" Width="10" Height="10" Fill="white" />
        </div>
        <div class="window-control close">
            <SvgIcon IconName="close-lean" Width="10" Height="10" Fill="white" />
        </div>
    </div>
</div>

@code {

}
