@page "/"
@using Spect.Net.Shell.Client.Messaging

@inject IJSRuntime JsRuntime
@inject IThemingService<ThemeProps> ThemingService

    <div class="app-container" style="@_themeStyle">
        <TitleBar/>
        <MainPanel></MainPanel>
        <StatusBar/>
    </div>

@code {
    private string _themeStyle;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        // --- Set up themes
        ThemingService.RegisterTheme(new ThemeInfo<ThemeProps>("dark", "Dark", StockThemes.DarkTheme));
        ThemingService.RegisterTheme(new ThemeInfo<ThemeProps>("light", "Light", StockThemes.LightTheme));
        ThemingService.ThemeChanged += OnThemeChanged;
        ThemingService.SetTheme("dark");

        // --- Initialize messaging
        await Messenger.InitAsync(JsRuntime);
    }

    private void OnThemeChanged(object sender, EventArgs e)
    {
        _themeStyle = ThemingService.ComposeStyleAttributeFromTheme();
        StateHasChanged();
    }
}
