@page "/"
@namespace Spect.Net.Shell.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spect.Net.Shell</title>
    <base href="~/" />
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <app>
        @*<div class="load-panel">
            <div class="load-text">
                ZX Spectrum IDE is loading...
            </div>
            <img class="load-logo" src="./assets/images/spectnet-logo-big.png" />
        </div>*@
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>

<script src="_framework/blazor.server.js"></script>
<script>
    exports = {};
</script>
<script src="scripts/SpectNetShellInterop.js"></script>
</body>
</html>
