@page "/"

@inject IJSRuntime JsRuntime
@inject IThemingService<ThemeProps> ThemingService

<div class="app-container" style="@_themeStyle">
    <TitleBar/>
    <MainPanel></MainPanel>
    <StatusBar/>
</div>

@code {
    private string _themeStyle;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // --- Set up themes
        ThemingService.Reset();
        ThemingService.RegisterTheme(new ThemeInfo<ThemeProps>("dark", "Dark", StockThemes.DarkTheme));
        ThemingService.RegisterTheme(new ThemeInfo<ThemeProps>("light", "Light", StockThemes.LightTheme));
        ThemingService.ThemeChanged += OnThemeChanged;
        ThemingService.SetTheme("dark");
        await JsRuntime.Hello();
    }

    private void OnThemeChanged(object sender, EventArgs e)
    {
        _themeStyle = ThemingService.ComposeStyleAttributeFromTheme();
        InvokeAsync(StateHasChanged);
    }
}